.center{
    text-align: center;
  }
  .listings {
  }
  .listingTitle{
  }
  .listingPrice{
  }
  /* .selectedItemCardImageRowContainer{
    height: 800px;
  } */
  
  .selectedItemCardImageContainer{
    height: inherit;
  }
  
  .selectedItemCardImage {
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
  }
  
  
  .itemCardImageContainer {
    height: 100%;
  }
  .itemCardImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
  }
  /* .itemCardImage:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
    box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  } */
  
  .imageViewerImages{
    margin-top: 10px;
    height: 200px;
  }
  
  .selectedImage {
  }
  