
.cssPlayOne {
}

body {
  margin: 0 !important;
}

.curvedSection {
  background-color: #22717b;
  background-position: bottom;
  height: 625px;
  color: white;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  /* position: absolute; */
  width: 100%;
  z-index: 50;
  overflow: hidden;
}
.taglineContainer {
  z-index: 52;
  position: absolute;
  top: 0;
  transform: skewY(2deg);
  left: 0;
  right: 0;
  margin-top:50px;
}
.container {
  width: 100% !important;
}
.actionMainContainer {
  background-color: white;
  margin-top: -150px;
  /* padding-top:  100px; */
  position: relative;
}
.taglines {
  padding-top: 100px;
  text-align: center;
  /* background-color: #25ddf5; */
  /* background-color: #00000082;
  border-radius: 5px; */
  /* padding: 2%; */
  margin-top: 75px;
  z-index: 51;
}
.taglineActionButtons {
  /* background-color:  #25ddf5; */
  /* background-color: #00000082;
  border-radius: 5px; */
  /* padding: 2%; */
  width: 100% !important;
  padding-bottom: 70px;

}
.topTagline {
  font-size: 4.5rem;
  font-weight: bolder;
  text-align: center;
}

.bottomTagline {
  font-size: 2.2rem;
  margin: 0 auto;
  width: 46%;
  margin-bottom: 30px;
}

.actionContainer {
  
  margin-top: 15% !important;
  text-align: center;
}
.footerContainer .actionContainer {
  margin-top: 0px !important;
}

.actionButtons {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.actionButtonsButton {
}

.buyingButton {
  color: #2790ff;
  background-color: white;
  border-color: #2790ff;
  font-weight: initial;
}

.sellingButton {
  color: white;
  background-color: #2790ff;
  border-color: #2790ff;
  font-weight: initial;
}

.subTagline {
  margin-bottom: 10px;
}

.subTagline h2 {
  font-weight: bolder !important;
}

.subTaglineTwo {
  width: 54%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.learnMoreCard {
  /* padding: 20px; */
  padding-bottom: 20px;
  box-shadow: 0 4px 12px rgba(36,39,41,0.2);
  border-radius: 5px;
  background-color: white;
}

.learnMoreCard p {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.learnMoreCardLeft {
  margin-top: 40px;
}

.learnMoreCardCenter {

}

.learnMoreCardRight {
  margin-top: 40px;
}

@media (max-width: 750px) {
  .taglines {
    padding: 50px;
  }
  .bottomTagline {
    display: none;
  }
  .learnMoreCardLeft {
    margin-top: 40px;
  }

  .learnMoreCardCenter {
    margin-top: 5%;
  }

  .learnMoreCardRight {
    margin-top: 5%;
  }
}

.learnMoreCardLeftButton {
  background-color: #2790ff;
  color: white;
  border-color: #2790ff;
  font-weight: initial;
}

.learnMoreCardCenterButton {
  background-color: white;
  color: #2790ff;
  border-color: #2790ff;
  font-weight: initial;
}

.learnMoreCardRightButton {
  background-color: #2790ff;
  color: white;
  border-color: #2790ff;
  font-weight: initial;
}




.curvedSectionTwo {
  background-color: #f7f6f9;
  height: 700px;
  /* margin-top: 150px; */
  color: white;
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  /* position: absolute; */
  width: 100%;
  background-image: url("./public/a3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.curvedSectionDarker {
  background-color: hsl(238, 44%, 30%);
  /* height: 100%; */
  margin-top: 15%;
  color: white !important;
  /* -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-transform-origin: 0; */
  transform-origin: 0;
  position: absolute;
  width: 100%;
}


.normalCurve {
  -webkit-transform: skewY(0deg);
  transform: skewY(0deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: 99;
}

.pricingContainer {
  padding-top:1%;
  margin-top:6%;
  /* color: #333; */
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-transform-origin: 0;
}
.pricingContainer .subTagline {
  text-align: center;
  padding-top: 3%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: purple;
}
.pricingContainer .subTaglineTwo {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: -1%;
  font-size: 1.25em;
  width: 40%;
  margin: 0 auto;
  background-color: purple;
}
.pricingContainer p.subTaglineTwo{
margin-bottom: 0% !important;
}


.callToActionContainer {
  color: #333;
}
.footerContainer {
  margin-top: -10%;
}

.loginHeaderContainer {
  position: absolute;
  width: 100%;
  background-color: #25ddf5;
  z-index: 100;
}
.loginHeaderContainer img {
  vertical-align: middle;
}
.loginHeader a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.loginHeader a:hover{
  color: #326777;
  text-decoration: none;
}





.footerContainer {
  background-color: #326777;
  color: white !important;
  transform-origin: 0;
  position: absolute;
  width: 100%;
  padding-top: 5%;
  margin-top:1%;
}


.footerContainer .root {
  background: #333;
  color: #fff;
}

.footerContainer .container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

.footerContainer .text {
  color: rgba(255, 255, 255, 0.5);
}

.footerContainer .spacer {
  color: rgba(255, 255, 255, 0.3);
}

.footerContainer .text,
.footerContainer .link {
  padding: 2px 5px;
  font-size: 1em;
}

.footerContainer .link,
.footerContainer .link:active,
.footerContainer .link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footerContainer .link:hover {
  color: rgba(255, 255, 255, 1);
}

.footerContainer .copyrightBadge {
  color: rgba(255, 255, 255, 0.6);
}


