.header {
  background: #326777;
  padding: 20px 0 0;
}
.header .container {
  padding: 0 0 20px;
}
.navigation {
  float: right;
}
.header .link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.header  .link,
.header  .link:active,
.header  .link:visited {
color: rgba(255, 255, 255, 0.6);
}

.header .link:hover {
color: rgba(255, 255, 255, 1);
}


.header .spacer {
  color: rgba(255, 255, 255, 0.3);
}


.header .highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.header .highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}