@import '../../components/variables.css';
@import '../../components/skeleton.css';

.SaleItemCard {
  /* border: 1px solid #e1e1e1; */
  margin-bottom: 20px;
  border-radius: 5px;
}

.itemCardImageRowContainer{
  height: 150px
}
.itemCardImageContainer{
  height: inherit;
}

.SaleItemCard:hover{
  /* background-color: white !important; */
  cursor: pointer;
  /* color: #7795f8; */
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);

}

.SaleItemCard p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px
}
.itemDataContainer {
  padding:10px;
}
.itemCardImage {
  object-fit: contain;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.itemCardTitle {
  margin: 0;
}


.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
  box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 0;
}

.button:hover {
  color: #7795f8;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
}

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsDesc h1,
.newsDesc h2,
.newsDesc h3,
.newsDesc h4,
.newsDesc h5,
.newsDesc h6 {
  font-size: 1.125rem;
}

.newsDesc pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
}

.newsDesc img {
  max-width: 100%;
}


/*
*  This is being used for the selected boxes on the
*  server creation page
*
**************************************************/
.selectionBoxLength {
  border-radius: 10px;
  border: 2px solid #e1e1e1;
  cursor: pointer;
  box-sizing: border-box;
  // width: 90%;
  //90 gives us cleaner at desktop but breaks mobile
  padding: 20px 0 15px 0;
  margin-bottom: 1.5rem;
}

.selectedBoxBorder {
  border: 2px solid #33c3f0;
  background-color: rgba(51, 195, 240, 0.05);
}

.centered {
  text-align: center;
}

.hidden {
  display: none !important;
}


.bottom-push {
  margin-bottom: 5px;
}

.extra-bottom-push {
  margin-bottom: 15px;
}

/*
*  Used to make sexy inputs on edit pages
*
**************************************************/
.editInput {
  max-height: 30px;
  border-radius: 0 !important;
  border: none !important;
  //importants here to overwrite skeleton
  border-bottom: 1px dotted #f0f0f0 !important;;
}

.serverTitle {
  max-height: 10000px !important;
  height: 70px !important;
}

.editInput:focus {
  border-radius: 0 !important;
  outline: none !important;
  //importants here to overwrite skeleton
  border-bottom: 1px solid #333 !important;
}

.smallCredit {
  width: 100%;
}

.white-text {
  color: white;
}

.white-hover:hover {
  color: white;
}

.heavy-text {
  font-weight: 600;
}

.tightLine {
  margin-top: 1%;
  margin-bottom: 1%;
}
