.marketplace {
}
.newRow {
  margin-left: 0;
}

.columns {
  margin-left: 1.5% !important;
}
.three.columns {
  width:23.5% !important;
}

.SaleItemCard {
    /* border: 1px solid #e1e1e1; */
    margin-bottom: 20px;
    border-radius: 5px;
}

.itemCardImageRowContainer{
  height: 150px
}
.itemCardImageContainer{
  height: inherit;
}

.SaleItemCard:hover{
  /* background-color: white !important; */
  cursor: pointer;
  /* color: #7795f8; */
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
}

.SaleItemCard p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px
}
.itemDataContainer {
  padding:10px;
}
.itemCardImage {
  object-fit: contain;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.itemCardTitle {
  margin: 0;
}
